* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #676A57;
}

.grid {
    margin-top: 16px;
    margin-bottom: 16px;
}

img.logo {
    max-width: 100px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

.title {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 3em;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 4px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

.subtitle {
    font-size: 1em;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 4px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

.separator {
    border-top: 3px solid #BCBBBB;
    width: 100%;
    margin-bottom: 24px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

img.main {
    margin-bottom: 32px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

.section-title {
    color: #BCBBBB;
    font-size: 2em;
    text-align: left;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

div.project {
    padding-right: 2%;
}

h3.project {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

img.project {
    width: 100%;
    margin-bottom: 4px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

a.project {
    text-decoration: none;
}

a.project:link {
    color: #BCBBBB;
}

a.project:active {
    color: #F8981C;
}

a.project:visited {
    color: #BCBBBB;
}

a.project:hover {
    color: #676A57;
    text-decoration: underline;
}

p.project {
    text-align: center;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

.row-r {
    display: flex;
    flex-wrap: wrap;
}

.col-4-1 {
    padding-left: 0px;
    padding-right: 12px;
}

.col-4-2 {
    padding-left: 6px;
    padding-right: 6px;
}

.col-4-3 {
    padding-left: 12px;
    padding-right: 0px;
}

@media screen and (max-width: 960px) {
    .title {
        font-size: 2.5em;
    }

    .section-title {
        font-size: 1.5em;
    }

    h3.project {
        font-size: 1.5em;
    }

    p.project {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 640px) {
    .col-4-1 {
        padding-left: 0px;
        padding-right: 6px;
    }

    .col-4-2 {
        padding-left: 6px;
        padding-right: 0px;
    }

    .col-4-3 {
        padding-left: 0px;
        padding-right: 6px;
    }

    /* two columns occupy the row */
    .col-4r {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 2.0em;
    }

    p.project {
        font-size: 1.0em;
    }

    /* reduce width and center image */
    img.project {
        width: 100%;
        max-width: 240px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .col-4-1 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .col-4-2 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .col-4-3 {
        padding-left: 0px;
        padding-right: 0px;
    }

    /* one column occupies the entire row */
    .col-4r {
        width: 100%;
    }
}
